<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Library Catalog</title>
</head>
<body>
    <h1>Main Table</h1>
    {% for book in books %}
        {{book}}
        <div>{{ book.author }}</div>
        <div>{{ book.image }}</div>
        <div>{{ book.location }}</div>
    {% endfor %}


    {% if loc %}
        <h2>Locations</h2>
        {% for l in loc %}
            {{ l }}
        {% endfor %}
    {% endif %}


<h2>Authors</h2>
    {% for l in authors %}
        {{ l }}
    {% endfor %}


</body>
</html>